<li>
	<!--icon-->
	<%= gravatar_for user, size: 50 %>
	<!--user link-->
	<%= link_to user.name, user %>
	<!--delete link-->
	<% if current_user.admin? && !current_user?(user) %>
		| <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
	<% end %>
</li>
